<section id="home-articles" class="home-articles py-2">
  <div class="articles-background-container">
    <h2>Editor Picks</h2>

    <div class="articles-container">
      <article class="card bg-primary">
        <img src="../images/fly-d-lock-unsplash.jpg" alt="" />
        <div>
          <h3>
            <a href="/read"
              ><span class="link-span"></span>Security starts with your wallet,
              but it ends with you.</a
            >
          </h3>
          <a href="#" class="category bg-light-category">Security</a>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
            magnam esse harum magni, totam numquam quaerat nemo necessitatibus
            animi expedita!
          </p>
        </div>
      </article>

      <article class="card bg-dark">
        <h3>
          <a href="/read"
            ><span class="link-span"></span>Internet Computer - Blockchain
            computing?</a
          >
        </h3>
        <a href="#" class="category bg-dark-category">internet computer</a>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
          magnam esse harum magni, totam numquam quaerat nemo necessitatibus
          animi expedita!
        </p>
      </article>

      <article class="card bg-secondary">
        <img src="../images/tezos-w_infasctructure-unsplash.jpg" alt="" />
        <h3>
          <a href="/read"
            ><span class="link-span"></span>Is defi really decentralized?</a
          >
        </h3>
        <a href="#" class="category bg-light-category">defi</a>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
          magnam esse harum magni, totam numquam quaerat nemo necessitatibus
          animi expedita!
        </p>
      </article>

      <article class="card bg-dark">
        <h3>
          <a href="/read"
            ><span class="link-span"></span>Is defi truely decentralized?</a
          >
        </h3>
        <a href="#" class="category bg-dark-category">web3</a>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
          magnam esse harum magni, totam numquam quaerat nemo necessitatibus
          animi expedita!
        </p>
        <img src="../images/shubham-dhage-web3-unsplash.jpg" alt="" />
      </article>

      <article class="card">
        <img src="../images/quantitatives-shiba-unsplash.jpg" alt="" />
        <a href="#" class="category bg-light-category">defi</a>
        <h3>
          <a href="/read"
            ><span class="link-span"></span>Shiba Inu goes for run!</a
          >
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
          magnam esse harum magni, totam numquam quaerat nemo necessitatibus
          animi expedita!
        </p>
      </article>

      <article class="card">
        <h3>
          <a href="/read"
            ><span class="link-span"></span>Do VPNs offer greater security?</a
          >
        </h3>
        <a href="#" class="category bg-light-category">security</a>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
          magnam esse harum magni, totam numquam quaerat nemo necessitatibus
          animi expedita!
        </p>
        <img src="../images/privecstasy-vpn-unsplash.jpg" alt="" />
      </article>

      <article class="card bg-dark">
        <img src="../images/shubham-dhage-wallet-unsplash.jpg" alt="" />
        <h3>
          <a href="/read"
            ><span class="link-span"></span>One wallet to rule them all</a
          >
        </h3>
        <a href="#" class="category bg-dark-category">defi</a>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
          magnam esse harum magni, totam numquam quaerat nemo necessitatibus
          animi expedita!
        </p>
      </article>

      <article class="card">
        <a href="#" class="category bg-light-category">ic</a>
        <h3>
          <a href="/read"
            ><span class="link-span"></span>Motoko a language created for the
            IC</a
          >
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
          magnam esse harum magni, totam numquam quaerat nemo necessitatibus
          animi expedita!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
          magnam esse harum magni, totam numquam quaerat nemo necessitatibus
          animi expedita!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </article>

      <article class="card">
        <div>
          <h3>
            <a href="/read"
              ><span class="link-span"></span>Disruptive affects of a
              decentralized world</a
            >
          </h3>
          <a href="#" class="category bg-light-category">web3</a>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
            magnam esse harum magni, totam numquam quaerat nemo necessitatibus
            animi expedita!
          </p>
        </div>
      </article>

      <article class="card bg-secondary">
        <div>
          <h3>
            <a href="/read"
              ><span class="link-span"></span>Rethinking gas fees</a
            >
          </h3>
          <a href="#" class="category bg-light-category">ethereum</a>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
            magnam esse harum magni, totam numquam quaerat nemo necessitatibus
            animi expedita!
          </p>
        </div>
        <img src="../images/jievani-weerasinghe-ethereum-unsplash.jpg" alt="" />
      </article>
    </div>
  </div>
</section>
